* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://i.pinimg.com/736x/32/91/94/329194203855d02ce008ad6641815b1d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: MC Ten Lowercase Alt;
    font-weight: 100px;
    color: #FFFAF0;
}

button{
    font-family: MC Ten Lowercase Alt;
    color: #FFFAF0;
    background-color: #000;
    opacity: 0.5;

}

option{
    font-family: MC Ten Lowercase Alt;
}

header{
    text-align: center;
    margin: 4rem 0 0 0;
    font-size: 30px;
}

.mundo{
    text-align: center;
    margin-top: 8rem;
}
#codigo{
    font-size: 20px;
}
input{
    width: 30rem;
    padding: 0.5rem;
    background-color: #000;
    opacity: 0.5;
    color: #FFFAF0;
}
#aleatorio{
    font-size: 12px;
}

.modo1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
}
.pgf-modo1{
    font-size: 20px;
}
.bt-modo1{
    margin-right: 3rem;
    margin-left: 2rem;
}
#option1{
    font-family: MC Ten Lowercase Alt;
    padding-bottom: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.2rem;
    width: 9rem;
    background-color: #000;
    opacity: 0.5;
    color: #FFFAF0;
}
#pgf-bt1{
    font-size: 12px;
    margin-left: 1rem;
}
.bt-modo2{
    margin-right: 3rem;
}
#option2{
    font-family: MC Ten Lowercase Alt;
    padding-bottom: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.05rem;
    width: 9rem;
    background-color: #000;
    opacity: 0.5;
    color: #FFFAF0;
}

.modo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
}
.pgf-modo2{
    font-size: 20px;
}
.bt-modo3{
    margin-right: 1rem;
    margin-left: 3rem;
}
#option3{
    font-family: MC Ten Lowercase Alt;
    padding-bottom: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.8rem;
    width: 9rem;
    background-color: #000;
    opacity: 0.5;
    color: #FFFAF0;
}
#pgf-bt2{
    font-size: 12px;
}
.bt-modo4{
    margin-right: 2rem;
}
#option4{
    font-family: MC Ten Lowercase Alt;
    padding-bottom: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.05rem;
    margin-right: 1rem;
    width: 9rem;
    background-color: #000;
    opacity: 0.5;
    color: #FFFAF0;
}

.concluido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
}
#bt-concluido{
    font-size: 20px;
    width: 10rem;
    padding: 0 0 5px 0;
}

.bt-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
}
#bt1{
    font-size: 20px;
    width: 15rem;
    padding: 0 0 5px 0;
    margin-right: 1rem;
}
#bt2{
    font-size: 20px;
    width: 15rem;
    padding: 0 0 5px 0;
    margin-left: 1rem;
}
