* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://i.pinimg.com/736x/32/91/94/329194203855d02ce008ad6641815b1d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: MC Ten Lowercase Alt;
    font-weight: 100px;
}

header {
    font-family: MC Ten Lowercase Alt;
    font-size: 40px;
    text-align: center;
    color: #FFFAF0;
}

.quadro {
    background-color: #000;
    margin-top: 90px;
    width: 100%;
    height: 500px;
    border: 1000px;
    opacity: 0.7;
    color: #FFFAF0;
    text-align: center;
    padding: 10rem;
    font-family: MC Ten Lowercase Alt;
}

#p1 {
    font-size: 25px;
}

#p2 {
    font-size: 20px;
    margin-top: 3rem;
    word-spacing: 2rem;
}

.botoes1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

#bt1 {
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 17rem;
    font-family: MC Ten Lowercase Alt;
    font-size: 20px;
    padding-bottom: 0.15rem;
}

#bt2 {
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 17rem;
    font-family: MC Ten Lowercase Alt;
    font-size: 20px;
    padding-bottom: 0.15rem;
}

#bt3 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    min-width: 17rem;
    font-family: MC Ten Lowercase Alt;
    font-size: 20px;
    padding-bottom: 0.15rem;
}

.botoes2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

#bt4 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    min-width: 12rem;
    font-family: MC Ten Lowercase Alt;
    font-size: 20px;
    padding-bottom: 0.15rem;
}

#bt5 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    min-width: 12rem;
    font-family: MC Ten Lowercase Alt;
    font-size: 20px;
    padding-bottom: 0.15rem;
}

#bt6 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    min-width: 12rem;
    font-family: MC Ten Lowercase Alt;
    font-size: 20px;
    padding-bottom: 0.15rem;
}

#bt7 {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    min-width: 12rem;
    font-family: MC Ten Lowercase Alt;
    font-size: 20px;
    padding-bottom: 0.15rem;
}