* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://i.pinimg.com/736x/32/91/94/329194203855d02ce008ad6641815b1d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header{
    font-family: MC Ten Lowercase Alt;
    font-size: 40px;
    text-align: center;
    color: #D9D9D9;
    
}

.quadro{
    background-color: #000;
    margin-top: 90px;
    width: 100%;
    height: 500px;
    border: 1000px;
    opacity: 0.7;
}

.link-sem-sublinhado{
    text-decoration: none;
    color: #000;
}

.botao1{
    margin-top: 20px;
    width: auto;
    height: auto;
    box-sizing: border-box;
    justify-content: center;
    align-content: space-between;    
    display: flex;
}
#bt1{
    font-family: MC Ten Lowercase Alt;
    font-size: 25px;
    min-width: 500px;
    padding: 0 0 5px 0;
    justify-content: center;
    align-content: space-between;
    display: flex;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 5px;
    border: none;
    margin-right: 50px;
    
}
#bt2{
    font-family: MC Ten Lowercase Alt;
    font-size: 25px;
    min-width: 500px;
    padding: 0 0 5px 0;
    justify-content: center;
    align-content: space-evenly;
    display: flex;
    text-align: center;
    background-color: #D9D9D9;
    border-radius: 5px;
    border: none;
    margin-left: 50px;
}

.botao2{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    text-align: center;
    border-radius: px;
    border: none;
    margin-right: auto;
    margin-left: auto;

}
#bt3{
    font-family: MC Ten Lowercase Alt;
    font-size: 25px;
    min-width: 200px;
    text-align: center;
    display: flexbox;
    justify-content: center;
    padding: 0 0 5px 0;
    margin-right: 100px;
    margin-left: ;
   
}
#bt4{
    font-family: MC Ten Lowercase Alt;
    font-size: 25px;
    min-width: 200px;
    display: flexbox;
    justify-content: center;
    padding: 0 0 5px 0;
    margin-right: 50px;
    margin-left: px;
    
}
#bt5{
    font-family: MC Ten Lowercase Alt;
    font-size: 25px;
    min-width: 200px;
    display: flexbox;
    justify-content: center;
    padding: 0 0 5px 0;
    margin-right: px;
    margin-left: 50px;
}   
#bt6{
    font-family: MC Ten Lowercase Alt;
    font-size: 25px;
    min-width: 200px;
    display: flexbox;
    justify-content: center;
    padding: 0 0 5px 0;
    margin-right: ;
    margin-left: 100px;
}